  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cats</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Cat List</a></li>
        <li><a href="/create">Buy Cat</a></li>
      </ul>
    </div>
  </nav>