<form action="/create" method="post">
    <h2>Buy Cat</h2>
    <div class="input-field">
        <input type="text" name="catName"
        <label>Cat Name</label>
    </div>

    <button type="submit" class="btn">Buy</button>
</form>